.login-title {
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.create-account-text a {
  display: inline-block;
  margin-left: 10px;
  color: var(--color-white);
  text-decoration: underline;
  cursor: pointer;
}